.post__container {
    max-width: 900px;
    margin: 0 auto;
}

.post {
    margin-top: 50px;
    background-color: var(--secondBG);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    row-gap: 10px;
}
.post__content {
    color: white;
    width: 100%;
}
.post__title {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.post__date {
    color: #ffffff75;
    margin-bottom: 30px;
}

.post__text {}

.post__text + .post__img {
    margin: 12px 0;
}
.post__img {
    width: 100%;
}

.post__link {
    color: #6fb9ff;
    text-decoration: underline;
}

.post__list {}
.post__list-item::before {
    content: "— "
}