.card {
    margin-top: 50px;
}

.card_list-link {
    margin-top: 5px;
    background-color: var(--secondBG);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 10px;
}

.card__list-item {
    color: white;
}

.card__list-item-title {
    font-weight: bold;
}

.card__list-item-date {
    color: #ffffff75;
    display: inline-block;
}