body {
    background-color: black;
    overflow: hidden;
}

.error_text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.error_text a {
    color: white;
}